/* Carousel */
.carousel {
  margin: 0 auto;
  margin-bottom: 30px;
  left: 0px;
  right: 0px;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px #aca8a8;
}

.carousel-inner img {
  min-width: 100%;
}

.carousel-inner .carousel-caption {
  padding: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0,0.8);
}

.carousel-inner .carousel-caption p {
  display: none;
}
