/* Navigation */
.navbar {
  font-size: 15px;
  border-bottom: 0px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.navbar .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-collapse {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-header {
  width: 322px;
  height: 60px;
  float: none;
}

.logo img {
  z-index: 10;
  height: 100px;
  padding-right: 10px;
  position: absolute;
  top: 3px;
  left: 0px;
}

.navbar-nav i { margin-right: 5px; }
div.input-group { margin: 10px 0px 10px 0px; }
div.sign-in-links { margin-top: 15px; }

/*.nav > li.dropdown.open {
  position: static;
}*/

.nav .embedded-form {
  padding: 15px !important;
}

.navbar-inverse {
  background-color: black; border-color: black;
}

.navbar-brand {
  display: none;
}

.newsletter-banner-container img {
  display: none;
}

.logo {
  margin: 0px;
}

.navbar-toggle {
  position: absolute;
  right: 0px;
}

.form-container {
  width: 100%;
}

/* Social media */
.social-icon p { margin: 0; }
.social-icon p a {
  margin-left: 5px;
  font-size: 35px;
  color: #000000;
}
